body {
	background-color: #444;
	text-align: center;
	font-family: Arial;
	color: #fff;
}

main {
	border: 1px solid #fff;
	width: 300px;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
}

label {
	font-size: 20px;
}

form {
	margin: 20px;
}

button {
	background-color: #fff;
	color: #90F;
	border-radius: 5px;
	border: 3px solid #90F;
}

#sort {
	width: 150px;
	height: 100px;
	margin: auto;
	border: 1px solid white;
}