@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // background-color: rgb(245, 245, 245);
  font-family: "Gemunu Libre", sans-serif;
}

ul {
  list-style: none;

  li {
    display: inline-block;
    padding-left: 40px;
  }
}
