/*-------------------------------------
    Typography: Financier Display
-------------------------------------*/

@font-face {
    font-family: 'Financier Display';
    src: url('../fonts/financier-display-web-regular.woff2') format('woff2'), 
        url('../fonts/financier-display-web-regular-w.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/*-------------------------------------
    Typography: Calibre
-------------------------------------*/

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/calibre-web-regular.woff2') format('woff2'), 
        url('../fonts/calibre-web-regular-w.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}