// -------------------------------------
//   Variables:
// -------------------------------------

$primary-1:   #393738;
$primary-2:   #7FC3BA;
$secondary-1: #f5f5f5;
$text-color: #fff;
$true: #047700;
$false: #e90200;
$trueflat: #2ecc71;
$falseflat: #e74c3c;

$font-primary: 'Financier Display', georgia, serif;
$font-secondary: 'Calibre', arial, sans-serif;